@model CreateUserVM

@{
    ViewBag.Title = "Skapa ny användare";
}

<div class="Everything">
    <div class="formContainer">
        @*fixa asp-action!*@
        <form class="createForm" asp-controller="Create" asp-action="Index">

            <div class="formRow">
                <label class="labelItem" asp-for="UserName"></label>
                <input class="inputText" asp-for="UserName" />
                <span asp-validation-for="UserName"></span>
            </div>

            <br />
            <div class="formRow">
                <label class="labelItem" asp-for="PassWord"></label>
                <input class="inputText" asp-for="PassWord" />
                <span asp-validation-for="PassWord"></span>
            </div>

            <br />

            <div class="formRow">
                <label class="labelItem" asp-for="ChildCode"></label>
                <input class="inputText" asp-for="ChildCode" />
                <span asp-validation-for="ChildCode"></span>
            </div>

            <br />
            <br />
            <input class="ButtonStyleLargeAutoSize" type="submit" value="Skapa!" />

        </form>
    </div>
    <br />
    <br />
</div>