@model TeacherStartVM[]
<center>
    Teacher
    <ul>
        @foreach (var child in Model)
        {
            <li>
                @child.Child.FirstName
            @foreach (var childSchedule in child.Child.Schedules)
            {
                if (childSchedule.Weekdays == (int)DateTime.Now.DayOfWeek)
                {
                    @childSchedule.Dropoff
                }
            }
        </li>
        }
    </ul>
</center>