@model LoginVM

@{
    ViewBag.Title = "Logga in";
}


<center>
    @*Fixa asp-action!*@
    <form asp-controller="Login" asp-action="Index">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>

        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>

        <br />
        <input type="submit" style="background-color:white" value="Login" />
    </form>

    <a href="Create">Skapa ny inloggning</a>
</center>