/*body {
    background-color: hotpink;
}*/

.container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    border-color: black;
    background-color: hotpink;
    /*rgba(134, 183, 240, 1.0)*/
    /*#3883FC;*/
    padding: 10px;
    border-radius: 20px;
}

#headBlock {
    border-color: black;
    background-color: #FEFFE7;
    border-radius: 15px;
}


#bodyDiv {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

#contentBlock {
    width: 400px;
    margin-top: 10px;
    display: block;
    border-color: black;
    background-color: #FEFFE7;
    border-radius: 15px;
}

#logoPic {
    height: 70px;
    width: 160px;
    resize: both;
    border-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#Logotext {
    text-align: center;
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: -10px;
}

#headerDiv {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



#headerPicDiv {
    height: 63px;
    width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#homeindexDiv {
    display: block;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size:20px;
    font-family:'open sans';
}




div.childListRow {
    display: table-row;
    line-height: 20px;
    /*empty-cells:hide;*/
    padding-bottom: -10px;
    /*height:20px;*/
    /*flex-direction:row;*/
}

div.ListOfChildren {
    display: inline-table;
    empty-cells: hide;
    line-height: 20px;
}


div.NameItem {
    display: table-cell;
    width: 120px;
    height: 18px;
    font-family: "Open Sans";
    font-size: 20px;
}

div.TimeItem {
    display: table-cell;
    width: 120px;
    height: 18px;
    font-family: "Open Sans";
    font-size: 20px;
}

div.ButtonItem {
    display: table-cell;
    width: 120px;
    height: 20px;
}

.ButtonStyle {
    width: auto;
    height: 35px;
    border-radius: 10px;
    background-color: rgba(249,110,175, 1.0);
    font-size: 15px;
    font-family: "Open Sans";
    border-color: grey;
    padding: 7px;
    text-align: center;
    text-decoration-color:white;
}

/*b{
text-align:left;


}*/

p.listheaders {
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

p.listheadersCenter {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.labelItem {
    display: block;
    width: 200px;
    text-align: right;
}

.inputText {
    display: block;
    margin-left: 10px;
    border-radius: 5px;
    height: 27px;
}

/*.formContainer{



}*/

form.createForm {
    font-size: 20px;
    font-family: 'open sans';
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px;
    margin-right: 25px;
}

.formRow {
    display: flex;
    flex-direction: row;
}

.ButtonStyleLarge {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(249,110,175, 1.0);
    font-size: 20px;
    font-family: "Open Sans";
    border-color: grey;
    padding: 10px;
}

span {
    font-size: 10px;
    color: red;
}

.ButtonStyleLargeAutoSize {
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color: rgba(249,110,175, 1.0);
    font-size: 20px;
    font-family: "Open Sans";
    border-color: grey;
    padding: 10px;
}