/*body {
    background-color: hotpink;
}*/

.container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    border-color: black;
    background-color:hotpink;
    /*rgba(134, 183, 240, 1.0)*/
    /*#3883FC;*/
    padding: 10px;
    border-radius: 20px;
}

#headBlock {
    
    border-color: black;
    background-color: #FEFFE7;
    border-radius: 15px;
}


#bodyDiv {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

#contentBlock {
    width: 380px;
    margin-top: 10px;
    display: block;
    border-color: black;
    background-color: #FEFFE7;
    border-radius: 15px;
}

#logoPic {
    height: 70px;
    width: 160px;
    resize: both;
    border-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#Logotext {
    text-align: center;
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: -10px;
}

#headerDiv {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



#headerPicDiv{
    height: 63px;
    width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#homeindexDiv {
    display: block;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

/*p{

    position:absolute;
    top:auto;

}*/